<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="subtitle_player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <subtitle_player.Properties.Settings>
            <setting name="size" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>MS UI Gothic, 26.25pt</value>
            </setting>
            <setting name="font_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="back_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </subtitle_player.Properties.Settings>
    </userSettings>
</configuration>