<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="subtitle_player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <subtitle_player.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>MS UI Gothic</value>
            </setting>
            <setting name="font_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="back_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>450</value>
            </setting>
        </subtitle_player.Properties.Settings>
    </userSettings>
</configuration>